.container {
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(50, 70, 90);
    padding: 50px 0;
}

.list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}

.menu__list { 

}


.menu__list a {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    width: 30%;
    transition: all 1s ease;

}


.menu__list li {
  position: relative;
border-right: 2px solid #fff;  
 padding: 10px 50px 10px 0; transition: all 1s ease;

}

.menu__list li:active,
.menu__list li:hover,
.menu__list li:focus {
   border-right: 2px solid rgb(231, 25, 25); 
  

}

.menu__list a:focus,
.menu__list a:hover,
.menu__list a:active {
    color: rgb(231, 25, 25); 
}


.menu__text {
    width: 70%;
}

.menu__text p {
    font-size: 16px;
    color: #fff;
}